/* 系统样式规范 --- start  */

///* 1.颜色规范 */
///* 系统色 */
//导航、一级tab背景色
$common-base: #001529;
//导航经过背景色
$common-base-hover: #43529C;
//导航栏选中背景
$common-base-active: #008CB0;
//警告、价格色
$common-error: #f5222d;
//严重示警
$common-dangerous: #B4222D;
//通过、开启、成功提示色
$common-success: #3DBD7D;
//收藏、按钮背景色
$common-warning: #FB8E3C;

///* 文字色 */
//一级标题、按钮文字、一级tab、二级tab
$text-title: #333333;
//链接文字色
$text-link: #1C80E1;
// 按钮经过颜色
$text-btn-hover: #1E8CFA;
//链接文字经过色
$text-link-hover: #186FC7;
//列表标题文字色
$text-content: #666666;
//其他辅助信息色
$text-remark: #999999;
//输入框提示文字颜色
$text-placeholder: #B2B8C9;
$text-placeholder2: #919191;
///*背景、线条色*/
// 页面背景色、列表标题背景色、置灰按钮背景色
$background-base: #F0F1F5;
// 底部背景色
$background-footer: #3A404D;
// 按钮、输入框边框颜色
$border-base: #e9E9E9;
// 分割线颜色
$background-line: #E5E5E5;
// 列表内容经过背景色
$background-list-hover: #EBF1FA;
// 列表内容背景色
$background-list: #F6F6F7;


/* 2.文字规范 */

// 内容类型 -title -remark -white
// 字体类型 -normal -large -super
// 是否加粗 -bold

// 一些普遍场景的样式规整
//@each $colorText, $color in ('-title': $text-title, '-remark': $text-remark, '':$text-content,'-white': #FFFFFF,) {
//  @each $fontSize, $size in ('-normal': 14px, '-large': 16px, '':12px, '-super': 18px,) {
//    @each $fontWeight, $weight in ('-bold': 700, '':400) {
//      .yc-public#{$colorText+$fontSize+$fontWeight} {
//        color: $color;
//        font-size: $size;
//        line-height: $size*1.5;
//        font-weight: $weight;
//      }
//    }
//  }
//}

/* --- end  */

