.text-remark{
  color: $text-remark;
}
.text-error{
  color: $common-error;
}
.text-success{
 color: $common-success;
}
.text-warning{
  color: $common-warning;
}
.text-dangerous{
  color: $common-dangerous;
}
